@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white text-black;
  color: black !important;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* 全てのテキスト要素を黒に設定 */
* {
  color: black !important;
}
